button {
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:blueviolet;
    font-weight: bold;
}

body {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}